# Project exclude paths
/.gradle/
/adapters/build/
/adapters/build/classes/java/main/
/commons/build/
/commons/build/classes/java/main/
/config/build/
/config/build/classes/java/main/
/config/build/classes/java/test/
/hologram/.gradle/
/hologram/build/
/hologram/build/classes/java/main/
/nms-merger/src/out/
/scoreboard/build/
/scoreboard/build/classes/java/main/
/test-plugin/build/
/test-plugin/build/classes/java/main/
/venv/
build/
out/
*.iml
.gradle
*.bin
*.lock
.idea/
gradle/
target/
archive/
lib/
venv/
src/